:root {
  --bg: url(https://fastly.picsum.photos/id/961/1200/600.jpg?hmac=-7W-CrsQiPQzXpAvw0MT_xSZFAEukp4QXrfSYZrseig);
}

p {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
    font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  display:none;
  font-size: 2em;
   font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  

}

.h4 {
  margin-top: 300px;
  text-align: center;
  display: block;
  font-size: 1em;
}


body {

 cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23F3E388" stroke="%23FFFD9D" stroke-width="2" stroke-linejoin="round" d="M18 14.88 8.16 3.15c-.26-.31-.76-.12-.76.28v15.31c0 .36.42.56.7.33l3.1-2.6 1.55 4.25c.08.22.33.34.55.26l1.61-.59a.43.43 0 0 0 .26-.55l-1.55-4.25h4.05c.36 0 .56-.42.33-.7Z"></path></svg>'), auto;
  margin: 0;
  padding: 0;
  background: #2196f360;
  background: #000;

  .thumbs {
    position: absolute;
    z-index: 20000000000000000000;
    bottom: 2vmin;
    width: 90vw;
    text-align: center;
    left: 5vw;
    display: flex;
    justify-content: center;
    gap: 6px;
    label {
      border: 1px solid #fff8;
      border-radius: 5px;
      min-width: 10vmin;
      aspect-ratio: 4/3;
      display: inline-flex;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      box-sizing: border-box;
      cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="%23C5B76E" stroke="%23FFFD9D" stroke-width="2" stroke-linecap="round"><path d="M12 21.5a9.5 9.5 0 1 1 0-19 9.5 9.5 0 0 1 0 19Z"></path><path d="M12 14c0-1 .32-.98.8-1.11A3 3 0 1 0 9 10"></path><circle cx="12" cy="17.5" r=".05"></circle></g></svg>'), auto;   
      opacity: 1;
      position: relative;
      &:hover {
        opacity: 0.8;
        box-shadow: 0 0 0 2px #fff;
      }
      &::before {
        content: "";
        position: absolute;
        width: 17px;
        height: 17px;
        border-radius: 100%;
        background: #5387b0;
        top: 4px; 
        right: 4px;
        border: 1px solid #fff9;
      }
      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      &:has(input:checked) {
        box-shadow: 0 0 0 3px #fff;
        transition: all 0.25s ease 0s;
        opacity: 1 !important;
        &::after {
          content: "";
          position: absolute;
          border: 2px solid #fff;
          width: 6px;
          height: 4px;
          right: 9px;
          top: 9px;
          border-width: 0 0 3px 3px;
          border-radius: 1px;
          transform: rotate(-45deg);
        }
      }
      &:has(#uno) {
        background-image: url(photo1.jpg);
      }
      &:has(#dos) {
        background-image: url(photo2.jpg);
      }
      &:has(#tres) {
        background-image: url(photo3.jpg);
      }
      &:has(#cuatro) {
        background-image: url(https://fastly.picsum.photos/id/961/160/120.jpg?hmac=LwoRY4D4APZefqcU2tNyv0Pb2bfW8iFI9GtBD-TfiA8);
      }
      &:has(#cinco) {
        background-image: url(https://fastly.picsum.photos/id/906/160/120.jpg?hmac=8fm3bNul1LWk9od1guXAtqrotKpQv0v3vlxZbvghwU8);
      }
      &:has(#seis) {
        background-image: url(https://fastly.picsum.photos/id/902/160/120.jpg?hmac=TbkMn3mNcKtdcAKnMJnWp-HGdT0p8Lyw3Rl4AazoldE);
      }
      &:has(#siete) {
        background-image: url(https://fastly.picsum.photos/id/984/160/120.jpg?hmac=YjJUhEIl38DyVwEvjfh3CEB0JPi9OP_8cyzVYxFHQt8);
      }
    }
  }


  &:has(input#uno:checked) .contenedor {
    --bg: url(photo1.jpg);
  }
  &:has(input#dos:checked) .contenedor {
    --bg: url(photo2.jpg);
  }
  &:has(input#tres:checked) .contenedor {
    --bg: url(photo3.jpg);
  }
  &:has(input#cuatro:checked) .contenedor {
    --bg: url(https://fastly.picsum.photos/id/961/1200/600.jpg?hmac=-7W-CrsQiPQzXpAvw0MT_xSZFAEukp4QXrfSYZrseig), url(https://fastly.picsum.photos/id/961/600/300.jpg?hmac=3hSfv5Sj3oZZ4oq3O29qbcU__VT6GibR43PZUbrewtI);
  }
  &:has(input#cinco:checked) .contenedor {
    --bg: url(https://fastly.picsum.photos/id/906/1200/600.jpg?hmac=W44aIOqjC5YVPcHtKp-VyptppkVTymmPbs1J8Hn6zws);
  }
  &:has(input#seis:checked) .contenedor {
    --bg: url(https://fastly.picsum.photos/id/902/1201/600.jpg?hmac=g_hNRT0OTdGni1YAqqB47ECcsYJuYRsFbKvEvxgniI0);
  }
  &:has(input#siete:checked) .contenedor {
    --bg: url(https://fastly.picsum.photos/id/984/1200/600.jpg?hmac=P09FKenA5KpXXTjGa04J2ge51TwmQDz8-xXjY6jBumM);
  }



  .contenedor {
    position: fixed;
    background: var(--bg) no-repeat center top;
    background-size: contain;
    width: 100%;
    height: 100%;
    padding-top: 50vh;
    -webkit-transition: padding 0.735s ease, -webkit-transform 0.735s ease;
    transition: transform 0.735s ease, padding 0.735s ease, -webkit-transform 0.735s ease;
    z-index: 10;

  }


.progressive-blur {
    top: calc(50vh - 1px) !important;
    opacity: 1;
    position: absolute;
    left: 0;
    z-index: 20;
    inset: auto 0 0 0;
    height: 50vh;
    width: 100%;
    pointer-events: none;
    transform: rotate(0deg);
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    &:after,
    &:before,
    &>div {
      background-color: #8397a730; 
      background-color: #5840b72b;
      position: absolute;
      inset: 0;
    }
    &:before {
      content: "";
      z-index: 1;
      -webkit-backdrop-filter: blur(0.5px);
      backdrop-filter: blur(0.5px);
      -webkit-mask: linear-gradient(to bottom,rgba(26,26,26,0) 0%,rgb(26,26,26) 12.5%,rgb(26,26,26) 25%,rgba(26,26,26,0) 37.5%);
      mask: linear-gradient(to bottom,rgba(26,26,26,0) 0%,rgb(26,26,26) 12.5%,rgb(26,26,26) 25%,rgba(26,26,26,0) 37.5%);
    }
    &>div {
      &:first-of-type {
        z-index: 2;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        -webkit-mask: linear-gradient(to bottom,rgba(26,26,26,0) 12.5%,rgb(26,26,26) 25%,rgb(26,26,26) 37.5%,rgba(26,26,26,0) 50%);
        mask: linear-gradient(to bottom,rgba(26,26,26,0) 12.5%,rgb(26,26,26) 25%,rgb(26,26,26) 37.5%,rgba(26,26,26,0) 50%)
      }
      &:nth-of-type(2) {
        z-index: 3;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        -webkit-mask: linear-gradient(to bottom,rgba(26,26,26,0) 25%,rgb(26,26,26) 37.5%,rgb(26,26,26) 50%,rgba(26,26,26,0) 62.5%);
        mask: linear-gradient(to bottom,rgba(26,26,26,0) 25%,rgb(26,26,26) 37.5%,rgb(26,26,26) 50%,rgba(26,26,26,0) 62.5%)
      }
      &:nth-of-type(3) {
        z-index: 4;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        -webkit-mask: linear-gradient(to bottom,rgba(26,26,26,0) 37.5%,rgb(26,26,26) 50%,rgb(26,26,26) 62.5%,rgba(26,26,26,0) 75%);
        mask: linear-gradient(to bottom,rgba(26,26,26,0) 37.5%,rgb(26,26,26) 50%,rgb(26,26,26) 62.5%,rgba(26,26,26,0) 75%)
      }
      &:nth-of-type(4) {
        z-index: 5;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        -webkit-mask: linear-gradient(to bottom,rgba(26,26,26,0) 50%,rgb(26,26,26) 62.5%,rgb(26,26,26) 75%,rgba(26,26,26,0) 87.5%);
        mask: linear-gradient(to bottom,rgba(26,26,26,0) 50%,rgb(26,26,26) 62.5%,rgb(26,26,26) 75%,rgba(26,26,26,0) 87.5%)
      }
      &:nth-of-type(5) {
        z-index: 6;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
        -webkit-mask: linear-gradient(to bottom,rgba(26,26,26,0) 62.5%,rgb(26,26,26) 75%,rgb(26,26,26) 87.5%,rgba(26,26,26,0) 100%);
        mask: linear-gradient(to bottom,rgba(26,26,26,0) 62.5%,rgb(26,26,26) 75%,rgb(26,26,26) 87.5%,rgba(26,26,26,0) 100%)
      }
      &:nth-of-type(6) {
        z-index: 7;
        -webkit-backdrop-filter: blur(32px);
        backdrop-filter: blur(32px);
        -webkit-mask: linear-gradient(to bottom,rgba(26,26,26,0) 75%,rgb(26,26,26) 87.5%,rgb(26,26,26) 100%);
        mask: linear-gradient(to bottom,rgba(26,26,26,0) 75%,rgb(26,26,26) 87.5%,rgb(26,26,26) 100%)
      }
      &:after {
        content: "";
        z-index: 8;
        -webkit-backdrop-filter: blur(64px);
        backdrop-filter: blur(64px);
        -webkit-mask: linear-gradient(to bottom,rgba(26,26,26,0) 87.5%,rgb(26,26,26) 100%);
        mask: linear-gradient(to bottom,rgba(26,26,26,0) 87.5%,rgb(26,26,26) 100%)
      }
    }
  }






}