body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #eee;
   cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23F3E388" stroke="%23FFFD9D" stroke-width="2" stroke-linejoin="round" d="M18 14.88 8.16 3.15c-.26-.31-.76-.12-.76.28v15.31c0 .36.42.56.7.33l3.1-2.6 1.55 4.25c.08.22.33.34.55.26l1.61-.59a.43.43 0 0 0 .26-.55l-1.55-4.25h4.05c.36 0 .56-.42.33-.7Z"></path></svg>'), auto;
}

a, button, .section, .section1::after, .section:nth-child(1), .section:nth-child(2), .section:nth-child(3), nav a {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="%23C5B76E" stroke="%23FFFD9D" stroke-width="2" stroke-linecap="round"><path d="M12 21.5a9.5 9.5 0 1 1 0-19 9.5 9.5 0 0 1 0 19Z"></path><path d="M12 14c0-1 .32-.98.8-1.11A3 3 0 1 0 9 10"></path><circle cx="12" cy="17.5" r=".05"></circle></g></svg>'), auto;
}

.container {
  height: 400px;
  width: 400px;
  border-radius: 5px;
  
  transform: rotate(-90deg);
  overflow: hidden;
  scroll-behavior: smooth;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  transform: rotate(90deg);
  width: 400px;
  height: 400px;
  
}

.section:nth-child(1) {
    border: 3px ridge black;
  background: url('f1.jpg');
  border-radius: 50% 10% 50% 10%;
  background-size: contain;
  background-position: bottom;
  border-radius: 30% 70% / 50% 50%;
  box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
  filter: contrast(1.20);
}

.section:nth-child(2) {
    border-radius: 50% 10% 50% 10%;
    border: 3px ridge black;
  background: url('f2.jpg');
  background-size: contain;
  background-position: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
  filter: brightness(1.20);
}

.section:nth-child(3) {
    border: 3px ridge black;
  border-radius: 30% 70% / 50% 50%;
  background: url('bouken.gif');
  background-size: contain;
  background-position: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
  filter: brightness(1.20);
}

.section:nth-child(4) {
    border: 3px ridge black;
    border-radius: 50% 10% 50% 10%;
  background: url('photo1.jpg');
  background-size: contain;
  background-position: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
  filter: contrast(1.20);
  
}

.section:nth-child(5) {
    border: 3px ridge black;
  border-radius: 30% 70% / 50% 50%;
  background: url('photo2.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
  filter: contrast(1.26);
}

.section:nth-child(6) {
    border: 3px ridge black;
    border-radius: 50% 10% 50% 10%;
  background: url('photo3.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
  filter: brightness(1.40);
}

.section:nth-child(7) {
    border: 3px ridge black;
  border-radius: 30% 70% / 50% 50%;
  background: url('photo4.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
  filter: brightness(1.40);
}

.section:nth-child(8) {
    border: 3px ridge black;
    border-radius: 50% 10% 50% 10%;
  background: url('photo5.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
  filter: brightness(1.40);
}

.section:nth-child(9) {
    border: 3px ridge black;
  border-radius: 30% 70% / 50% 50%;
  background: url('photo6.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
  filter: brightness(1.40);
}

.section:nth-child(10) {
    border: 3px ridge black;
  border-radius: 30% 70% / 50% 50%;
  background: url('lol.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
  filter: brightness(1.40);
}


nav {
  padding: 5px 15px;
  margin: 20px;
  background: linear-gradient(to right, #e386b0, #5b2db7, #D9A1BA);
  padding: 15px 10px;
  border-radius: 20px;
  box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
}

nav a {
  padding: 1px 10px;
  margin: 0 10px;
  border-radius: 30% 70% / 50% 50%;
  background: linear-gradient(to right, #f2d1f0, #5ce09c, #D9A1BA);
  transition: all 200ms ease-in-out;
}

.active {
  background: #ffffff;
}

p {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
    font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  display:none;
  font-size: 2em;
   font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  

}

.h4 {
  margin-top: 300px;
  text-align: center;
  display: block;
  font-size: 1em;
}
