.two {
    background-image: url('mail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    filter: invert(1.10);
    padding: 50px;
    width: 15px;
    top: 700px;
    right: 60px;
    height: 7px;
    float:center;
    line-height: 5px;
    border-radius: 10px;
    border: 2px ridge rgb(54, 54, 54);
    display: block;
    
    
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.found {
  text-align: center;
  justify-content: center;
  margin-top: 350px;
}

.two2 {
    background-image: url('mail1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    filter: brightness(1.30);
    padding: 50px;
    width: 15px;
    top: 300px;
    right: 60px;
    height: 7px;
    float:center;
    line-height: 5px;
    border-radius: 10px;
    border: 2px ridge rgb(54, 54, 54);
    display: block;
    
    
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}


body {
  
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23F3E388" stroke="%23FFFD9D" stroke-width="2" stroke-linejoin="round" d="M18 14.88 8.16 3.15c-.26-.31-.76-.12-.76.28v15.31c0 .36.42.56.7.33l3.1-2.6 1.55 4.25c.08.22.33.34.55.26l1.61-.59a.43.43 0 0 0 .26-.55l-1.55-4.25h4.05c.36 0 .56-.42.33-.7Z"></path></svg>'), auto;
  
}

a, button, .div1, .div1:focus, .section1, .section1::after, .div1,.div1:focus button, button:focus, button:focus + h4, .div1:focus h4, .cov, .cov:after {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="%23C5B76E" stroke="%23FFFD9D" stroke-width="2" stroke-linecap="round"><path d="M12 21.5a9.5 9.5 0 1 1 0-19 9.5 9.5 0 0 1 0 19Z"></path><path d="M12 14c0-1 .32-.98.8-1.11A3 3 0 1 0 9 10"></path><circle cx="12" cy="17.5" r=".05"></circle></g></svg>'), auto;
}


.gradient_text {
    color: #FFFFFF;
    background-image: linear-gradient(to right, #D9A1BA, #5ce09c, #D9A1BA);
}


hr {
    
    width: 100%;
    height: 10px;
    border: 0;
    border-top: 1px solid #c1458f;
    box-shadow: inset 0 10px 10px -10px #f9caed;
}

.position {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin: 10px;
    
    justify-content: center;
}

.position2 {
    display: flex;
    flex-direction: column;
}

.letter {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    width: 10%;
    height: 290px;
    float:center;
    line-height: 5px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;

    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.letter11 {
  background-image: url('https://i.pinimg.com/736x/67/a2/af/67a2af6017ac50a09da4721082abd376.jpg');
    background-size: cover ;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 60%;
    height: 320px;
    float:center;
    line-height: 2px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            filter: brightness(1.10);
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.letter111 {
    background-image: url('https://i.pinimg.com/736x/67/a2/af/67a2af6017ac50a09da4721082abd376.jpg');
    background-size: cover ;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 60%;
    height: 320px;
    float:center;
    line-height: 2px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
        filter: brightness(1.10);    
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}



.happy:hover {
  
    background-image: url('i.png');
    background-size: contain;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 30%;
    height: 200px;
    
    transform: scale(1.3);
    transition: 2s;
    line-height: 2px;
    border-radius: 4px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
        filter: invert(1.10);    
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.letter1 {
  background-image: url('https://i.pinimg.com/originals/f8/cf/a6/f8cfa60d9092b7264dcc96adde56442f.png');
    background-size: cover ;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 60%;
    height: 320px;
    float:center;
    line-height: 2px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
        filter: brightness(1.50);    
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.letter1:hover {
  
    background-image: url('https://i.pinimg.com/originals/f8/cf/a6/f8cfa60d9092b7264dcc96adde56442f.png');
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 62%;
    height: 325px;
    float:center;
    transform: scale(1.0);
    transition: 0.5s;
    line-height: 2px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
        filter: brightness(1.10);    
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.letter2 {
    background-image: url('ad.jpg');
    background-color: #FFFFFF;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 50px;
    width: 8%;
    height: 500px;
    
   
    line-height: 5px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.letter3 {
    background-image: url('mebanner.jpg');
    
    background-color: #318e4ea9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    padding: 50px;
    width: 42%;
    height: 140px;
    margin-left: 397px;
    
    border-radius: 2px;
    border: 3px ridge rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.letter33 {
    background-image: url('bredbanner.jpg');
    
    background-color: #318e4ea9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    padding: 50px;
    width: 42%;
    height: 140px;
    margin-left: 397px;
    
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.letter4 {
    background-image: url('bouken.gif');
    background-color: #318e4ea9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    padding: 50px;
    width: 42%;
    height: 140px;
    margin-left: 397px;
    
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.letter5 {
    background-image: url('tabb.png');
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    width: 35%;
    height: 400px;
    top: 85%;
    left: 30%;
    position: absolute;
    line-height: 2px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
    filter: grayscale(0.75);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.letter6 {
    background-image: url('enobanner.jpg');
    background-color: #fff6f6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    padding: 50px;
    width: 42%;
    height: 140px;
    margin: 0 auto 10px;
    
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.tome {
    position: relative;
    background-size: cover ;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 60%;
    height: 450px;
    margin-top: 30%;
    left: 20%;
    line-height: 2px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
        filter: brightness(1.00);    
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.oldfootage {
    background-image: url('hap.mp4');
    position: relative;
    background-size: cover ;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 60%;
    height: 450px;
    margin-top: 30%;
    left: 20%;
    line-height: 2px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
        filter: brightness(1.00);    
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.left_side {
    background-image: url('stelle.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    width: 8%;
    top: 660px;
    left: 70px;
    height: 100px;
    float:center;
    line-height: 5px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    filter: brightness(0.70);
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.help {
    background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMG9jejkxdmc5b3E0cGQ1MGZicjdpZXFqc2EyZDl6NGVybmNlOTA1cyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6xtCaro2qNlCDkBNM5/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    width: 8%;
    top: 660px;
    left: 70px;
    height: 100px;
    float:center;
    line-height: 5px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    filter: brightness(0.70);
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.maill {
    background-image: url('mail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    filter: brightness(1.30);
    padding: 50px;
    width: 15px;
    top: 260px;
    left: 60px;
    height: 7px;
    float:center;
    line-height: 5px;
    border-radius: 10px;
    border: 2px ridge rgb(54, 54, 54);
    display: block;
    
    
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.vid {
    background-image: url('vid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    filter: grayscale(2.00);
    padding: 50px;
    width: 15px;
    top: 420px;
    left: 60px;
    height: 7px;
    float:center;
    line-height: 5px;
    border-radius: 30px;
    border: 2px ridge rgb(54, 54, 54);
    display: block;
    
    
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}


.mail {
    background-image: url('mail1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    filter: brightness(1.30);
    padding: 50px;
    width: 15px;
    top: 260px;
    left: 60px;
    height: 7px;
    float:center;
    line-height: 5px;
    border-radius: 10px;
    border: 2px ridge rgb(54, 54, 54);
    display: block;
    
    
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.mail:hover {
    transform: translateX(10px);
    transition: 1s;
    background-image: url('eye.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    filter: brightness(0.98);
    padding: 38px;
    width: 20%;
    top: 260px;
    right: 10px;
    height: 4px;
    float:center;
    line-height: 5px;
    border-radius: 2px;
    border: 3px ridge rgb(54, 54, 54);
    display: block;
    
    
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.mailc {
    background-image: url('mail1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    filter: brightness(1.30);
    padding: 50px;
    width: 15px;
    top: 260px;
    left: 60px;
    height: 7px;
    float:center;
    line-height: 5px;
    border-radius: 10px;
    border: 2px ridge rgb(54, 54, 54);
    display: block;
    
    
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.mailc:hover {
    transform: translateX(10px);
    transition: 1s;
    background-image: url('https://media1.tenor.com/m/CpANPl5LdP8AAAAC/meowsuris-twitter.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    filter: brightness(0.98);
    padding: 38px;
    width: 20%;
    top: 260px;
    right: 10px;
    height: 4px;
    float:center;
    line-height: 5px;
    border-radius: 2px;
    border: 3px ridge rgb(54, 54, 54);
    display: block;
    
    
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}





.kaka {
    background-image: url('https://media1.tenor.com/m/nxf-w43qX1sAAAAC/gif-de-amor.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    width: 8%;
    top: 660px;
    left: 70px;
    height: 100px;
    float:center;
    line-height: 5px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    filter: brightness(0.70);
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.ivan {
    background-image: url('Ivan\ GIF.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    width: 8%;
    top: 660px;
    left: 70px;
    height: 100px;
    float:center;
    line-height: 5px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    filter: brightness(0.70);
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.gallery {
    background-image: url('gallery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    width: 10px;
    top: 100px;
    left: 60px;
    height: 7px;
    float:center;
    line-height: 5px;
    border-radius: 50% 10% 50% 10%;
    border: 3px ridge rgb(49, 49, 49);
    display: block;
    filter: brightness(1.30);
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.gallery1 {
    background-image: url('gallery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    width: 10px;
    top: 100px;
    left: 60px;
    height: 7px;
    float:center;
    line-height: 5px;
    border-radius: 50% 10% 50% 10%;
    border: 3px ridge rgb(81, 81, 81);
    display: block;
    filter: brightness(1.90);
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}




.box {
    background-image: url('icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 72%;
    height: 80px;
    
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     
    
}

.boxx {
    background-image: url('icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 72%;
    height: 80px;
    
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     
    
}

.boxx:hover {
    background-image: url('icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 80%;
    height: 80px;
    transform: scale(1.3);
      transition: 2s;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     
    
}

.box1 {
    background-image: url('icon1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 72%;
    height: 80px;
    
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     
    
}

.box1:hover {
    filter: invert(0.90);
    background-color: white;
    padding: 50px;
    width: 8%;
    top: 370px;
    left: 12%;
    transform: translate(-50%, -50%);
    position: absolute;
    
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);

}

.box_2 {
    background-image: url('icon2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 72%;
    height: 80px;
    
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     
    
}

.box_2:hover {
    filter: brightness(4.00);
    background-color: white;
    padding: 50px;
    width: 8%;
    top: 370px;
    left: 12%;
    transform: translate(-50%, -50%);
    position: absolute;
    
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);

}

.box_3 {
    background-image: url('icon2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 72%;
    height: 80px;
    
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     
    
}



.tab {
    background-image: url('https://64.media.tumblr.com/8c132da1d00507bb30085a2895663e1e/dcb51c208b7b2285-f3/s500x750/65de98fbbbf47d4b2c655a9be44ceca168c2a429.pnj');
    opacity: 90%;
    border-radius: 10px;
    border: 3px ridge black;
    width: 500px ;
    height: 350px ;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.471), 0 10px 10px rgba(0, 0, 0,0.24);
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute; 
    filter: brightness(1.15);
    display: block;
}

.tab1 {
    background-image: url('https://64.media.tumblr.com/8c132da1d00507bb30085a2895663e1e/dcb51c208b7b2285-f3/s500x750/65de98fbbbf47d4b2c655a9be44ceca168c2a429.pnj');
    opacity: 90%;
    border-radius: 10px;
    border: 3px ridge black;
    width: 500px ;
    height: 350px ;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.471), 0 10px 10px rgba(0, 0, 0,0.24);
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute; 
    filter: invert(2.00);
    display: block;
}

.tab11 {
    background-image: url('ad.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 90%;
    border-radius: 10px;
    border: 3px ridge black;
    width: 500px ;
    height: 400px ;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.471), 0 10px 10px rgba(0, 0, 0,0.24);
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute; 
    filter: invert(1.40);
    display: block;
}

.tab23 {
    background-image: url('https://64.media.tumblr.com/8c132da1d00507bb30085a2895663e1e/dcb51c208b7b2285-f3/s500x750/65de98fbbbf47d4b2c655a9be44ceca168c2a429.pnj');
    opacity: 90%;
    border-radius: 10px;
    border: 3px ridge black;
    width: 500px ;
    height: 350px ;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.471), 0 10px 10px rgba(0, 0, 0,0.24);
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute; 
    filter: brightness(1.50);
    display: block;
}


.tab2 {
    background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYXRqZjBzZnB5ZWVxeXF1dWs1djU5YzRweTJrNG9zN29udnc1c3lvayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/qK0JCiWktHAUWzUv1y/giphy.gif');
    opacity: 90%;
    border-radius: 10px;
    border: 3px ridge black;
    width: 500px ;
    height: 350px ;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.471), 0 10px 10px rgba(0, 0, 0,0.24);
    top: 40%; left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute; 
    filter: brightness(1.50);
    display: block;
}


.ad1 {
    background-image: url('bouken.gif');
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    width: 8%;
    height: 500px;
    
   
    line-height: 5px;
    border-radius: 2px;
    border: 2px solid rgb(54, 54, 54);
    display: block;
    color:rgba(255, 255, 255, 0.73);
            
     box-shadow: 0 10px 8px rgba(0, 0, 0,0.12), 0 10px 10px rgba(0, 0, 0,0.24);
    
}

.rac {
    background-image: url('https://64.media.tumblr.com/d36441667a90c70d62f20c898164f6bf/8aada3223c93d21f-c1/s250x400/a7786804784fe8f45a2f622f459019e933fb6181.gifv');
    width: 238px;
    height: 200px;
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 4px;
    display: block;
    filter:blur(2px);
    
    justify-content: center;
    
    
    border:4px solid #51504d;
}

.rac:hover {
   transform: scaleX(1.5);
   transition: 2s;
    background-image: url('https://64.media.tumblr.com/d36441667a90c70d62f20c898164f6bf/8aada3223c93d21f-c1/s250x400/a7786804784fe8f45a2f622f459019e933fb6181.gifv');
    width: 238px;
    height: 200px;
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 4px;
    display: block;
    filter:blur(2px);
    
    justify-content: center;
    
    
    border:4px solid #ddda26;
}

.rac1 {
    background-image: url('https://64.media.tumblr.com/d36441667a90c70d62f20c898164f6bf/8aada3223c93d21f-c1/s250x400/a7786804784fe8f45a2f622f459019e933fb6181.gifv');
    width: 238px;
    height: 200px;
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 4px;
    display: block;
    filter:blur(3px);
    
    justify-content: center;
    
    
    border:4px solid #51504d;
}

.rac1:hover {
    transform: scaleX(1.5);
   transition: 2s;
    background-image: url('https://64.media.tumblr.com/d36441667a90c70d62f20c898164f6bf/8aada3223c93d21f-c1/s250x400/a7786804784fe8f45a2f622f459019e933fb6181.gifv');
    width: 238px;
    height: 200px;
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 4px;
    display: block;
    filter:blur(3px);
    
    justify-content: center;
    
    
    border:4px solid #ddda26;
}

.rac1 {
    background-image: url('https://64.media.tumblr.com/d36441667a90c70d62f20c898164f6bf/8aada3223c93d21f-c1/s250x400/a7786804784fe8f45a2f622f459019e933fb6181.gifv');
    width: 238px;
    height: 200px;
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 4px;
    display: block;
    filter:blur(3px);
    
    justify-content: center;
    
    
    border:4px solid #51504d;
}

.rac11 {
    background-image: url('mebanner.jpg');
    background-size: contain;
    width: 238px;
    height: 200px;
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 4px;
    display: block;
    filter:blur(5px);
    
    justify-content: center;
    
    
    border:4px solid #51504d;
}

.rac11:hover {
  background-size: contain;
    transform: scaleX(1.5);
   transition: 3s;
    background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMG9jejkxdmc5b3E0cGQ1MGZicjdpZXFqc2EyZDl6NGVybmNlOTA1cyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6xtCaro2qNlCDkBNM5/giphy.gif');
    width: 220px;
    height: 200px;
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 4px;
    display: block;
    filter:blur(5px);
    
    justify-content: center;
    
    
    border:4px solid #ddda26;
}


.rac2 {
    background-image: url('mebanner.jpg');
    background-size: contain;
    width: 238px;
    height: 200px;
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 4px;
    display: block;
    filter: grayscale(0.75);
    
    justify-content: center;
    
    
    border:4px solid #51504d;
}

.rac2:hover {
    transform: scaleX(1.5);
    transition: 2s;
    background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMG9jejkxdmc5b3E0cGQ1MGZicjdpZXFqc2EyZDl6NGVybmNlOTA1cyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6xtCaro2qNlCDkBNM5/giphy.gif');
    width: 238px;
    height: 200px;
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 4px;
    display: block;
    filter: grayscale(0.75);
    
    justify-content: center;
    
    
    border:4px solid #797705;
}

.rac22 {
    background-image: url('bouken.gif');
    background-size: contain;
    width: 238px;
    height: 200px;
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 4px;
    display: block;
    filter: grayscale(0.75);
    
    justify-content: center;
    
    
    border:4px solid #51504d;
}

.rac22:hover {
    transform: scaleX(1.5);
    transition: 2s;
    background-image: url('bouken.gif');
    width: 238px;
    height: 200px;
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 4px;
    display: block;
    filter: grayscale(0.75);
    
    justify-content: center;
    
    
    border:4px solid #797705;
}



h1 {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}





/* Typewriter effect 1 */
@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "R"; }
  2.2791%, 25.0698% { content: "RE"; }
  3.4186%, 23.9302% { content: "REA"; }
  4.5581%, 22.7907% { content: "REA"; }
  5.6977%, 21.6512% { content: "READ"; }
  6.8372%, 20.5116% { content: "READ M"; }
  7.9767%, 19.3721% { content: "READ MA"; }
  9.1163%, 18.2326% { content: "READ MAI"; }
  10.2558%, 17.0930% { content: "READ MAIL"; }
  10.2558%, 17.0930% { content: "READ MAIL(S)"; }
  10.2558%, 17.0930% { content: "READ MAIL(S)?"; }

}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "developer"; }
    25% { content: "writer"; }
    50% { content: "reader"; }
    75% { content: "human"; }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}

/**/








.section1 {
  position: absolute;
  width: 606px;
  margin: 0 auto;
  z-index: 0;
  color: white;
    top: 85%;
    left: 30%;
    border:1px solid #919191;
}

.section1::after {
  content: '₊✩‧₊˚౨(≖⩊≖)ৎ˚₊✩‧₊';
  position: absolute;
  left: 0;
  top: 38px;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  background-image: url('https://i.pinimg.com/736x/a9/ba/48/a9ba4832d583f07c033886e598080b7f.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
  border:2px solid #d6d6b4;
  filter: blur(10px);
}

.cov {
  position: absolute;
  width: 606px;
  margin: 0 auto;
  z-index: 0;
  color: white;
    top: 85%;
    left: 30%;
    border:1px solid #919191;
}


.cov:after {
  content: '₊✩‧₊˚౨(≖⩊≖)ৎ˚₊✩‧₊';
  position: absolute;
  left: 0;
  top: 38px;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  background-image: url('https://i.pinimg.com/1200x/67/f2/9d/67f29daf18d85598e563c70f1a18bd6d.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
  border:2px solid #d6d6b4;
  filter: blur(10px);
}

.cov1 {
  position: absolute;
  width: 606px;
  margin: 0 auto;
  z-index: 0;
  color: white;
    top: 85%;
    left: 30%;
    border:1px solid #919191;
}


.cov1:after {
  content: '₊✩‧₊˚౨(≖⩊≖)ৎ˚₊✩‧₊';
  position: absolute;
  left: 0;
  top: 38px;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  background-image: url('dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
  border:2px solid #d6d6b4;
  filter: blur(10px);
}

button {
  
  width: 199px;
  display: inline-block;
  background-image: linear-gradient(to right, #D9A1BA, #5ce09c, #D9A1BA);
  color: rgb(19, 19, 19);
    font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  border: 2px solid #51504d;
  text-align: center;
  transition: .25s ease;
  border: none;
  padding: 10px;
  border-radius: 3px;
}

.div1:focus button, button:focus {
  background-image: url('https://i.pinimg.com/originals/61/a5/23/61a52384f70b46b59b2f0e0d0ae0242c.png');
  background-repeat: no-repeat;
  background-size: cover;
  border:2px solid #b4b427;
   transform: scaleX(1.5);
  transition: 2s;

}


button:focus + h4, .div1:focus h4 {

  display: block;
  position: absolute;
  background-image: url('https://i.pinimg.com/originals/61/a5/23/61a52384f70b46b59b2f0e0d0ae0242c.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  width: 100%;
  left: 0;
  z-index: 2;
  outline: none;
  top: 0px;
  text-align: center;
  padding-top: 48px;
  border-radius: 3px;
  border:3px solid #b4b427;
}



p {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
    font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  display:none;
  font-size: 2em;
   font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  

}

.div1 {
  display: inline-block;
  
}

.div1:focus {
  outline: none;
}




.h4 {
  margin-top: 300px;
  text-align: center;
  display: block;
  font-size: 1em;
}
